#google-logo {
    width: 90px;
    height: 30px;
}

.header {
    display: flex;
    height: 123px;
    justify-content: space-between;
    flex-flow: column nowrap;
    border-bottom: 1px solid black;
}

/* Top part of header */
.header-top {
    display: flex;
    height: 65px;
}

.header-top {
    display: flex;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
    border-radius: 45px;
    /* box model dimensions */
    border: 1px solid #eff0f2;
    margin: 0 auto;
    width: 582px;
    height: 44px;
}

.search-bar:hover {
    box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
}

.search-bar:focus-within {
    box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
}

.search-icon {
    padding: 0px 13px 0px 13px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.search-text-field {
    border: none;
    border-radius: 10px;
    width: 100%;
}

#grid-icon {
    height: 20px;
    width: 20px;
}

#profile-pic {
    height: 32px;
    width: 32px;
    border-radius: 35px;
}
/* End top part of header */

/* Bottom part of header */
.header-bottom {
    display: flex;
    height: 58px;
}

/* End bottom part of header */
